[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[dev-packages]


pylint = "*"
isort = "*"
"autopep8" = "*"


[packages]

django = "*"
django-extensions = "*"
django-dotenv = "*"
django-redis = "*"
"psycopg2-binary" = "*"
pytest = "*"
pytest-cov = "*"
raven = "*"
shortuuid = "*"
uwsgi = "*"
werkzeug = "*"
whitenoise = "*"
social-auth-app-django = "*"
pillow = "*"
boto3 = "*"
django-storages = "*"
