body {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 1.428;
  color: #292b2c;

  max-width: 50rem;
  padding: 0.5rem;
  margin: 0 auto;
}

a,
a:hover,
a:active,
a:link,
a:visited {
  color: #006bf9;
}

.group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* margin: 0 -1rem; */
}

.group > * {
  /* padding: 0 1rem; */
}

header {
  border-bottom: 1px whitesmoke solid;
  position: relative;
}

footer {
  margin: 1rem 0;
  padding-top: 1rem;
  border-top: 1px whitesmoke solid;
}

header h1 {
  margin: 0;
}

header .right {
  position: absolute;
  bottom: 0;
  right: 0;
}

header h1 a {
  color: inherit !important;
  text-decoration: inherit;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  margin: -2%;
}

.image-grid > * {
  padding: 2%;
}

.image-grid img {
  width: 100%;
}

.image-grid > div {
  width: 100%;
}

@media (min-width: 455px) {
  .image-grid > div {
    width: 29%;
  }
}

.small-image, .large-image {
  width: 100%;
}

@media (min-width: 600px) {}
  .small-image {
    width: 300px;
  }

  .large-image {
    width: 600px;
  }
}

footer a {
  padding: 0 0.5rem;
}

footer a:first-child {
  padding: 0 0.5rem 0 0;
}

.errorlist {
  border: 1px dashed red;
}

nav.nav-links a {
  padding: 0 0.5rem;
}

nav.nav-links a:last-child {
  padding: 0 0 0 0.5rem;
}

nav.nav-links a:nth-child(2) {
  padding: 0 0.5rem 0 0;
}
