{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MDMA – Make Deep Art Accessible</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="{% static "css/normalize.css" %}" rel="stylesheet">
    <link href="{% static "css/main.css" %}" rel="stylesheet">
</head>
<body>
  <header class="group">
    <h1><a href="{% url 'index' %}">MDMA – Make Deep Art Accessible</a></h1>
    {% if user.is_authenticated %}
        <nav class="nav-links">
          Welcome {{ user.username }}!<br><a href="{% url 'index' %}">home</a><a href="{% url 'new' %}">create artwork</a><a href="{% url 'artworks' %}">show artworks</a><a href="{% url 'profile' %}">profile</a>
        </nav>
        {% else %}
        <nav>
          <a href="{% url "social:begin" "twitter" %}">login with<br/>twitter</a>
        </nav>
    {% endif %}
  </header>
    {% block content %}
    {% endblock %}
  <footer><a href="/about">about</a><a href="https://johannesfilter.com/contact/">contact</a><a href="/legal">legal</a><a href="https://codingdavinci.de/events/ost/">coding da vinci ost 2018</a><a href="https://twitter.com/mdma_art">twitter</a></footer>
</body>
<!-- Matomo -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//vis.one/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '3']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//vis.one/piwik/piwik.php?idsite=3&amp;rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Matomo Code -->
</html>
