{% extends "base.html" %}

{% load i18n %}

{% block content %}
<h2>create a new artwork</h2>

<h3>1. choose input image</h3>
<img class="small-image" src="/{{ input_image.image.url }}" />
<br /><a href="{% url 'new' %}?style_image={{style_image.id}}">choose other input image</a>
<h3>2. choose style image</h3>
<img class="small-image" src="/{{ style_image.image.url }}" />
<br /><a href="{% url 'choose_style' input_image_id=input_image.id %}">choose other style image</a>
<h3>3. choose settings</h3>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Submit</button>
</form>

{% endblock %}
