{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<a href="{% url 'new' %}">new</a>
{% endif %}

<h3>Most Recent</h3>
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi maiores officia soluta minima assumenda illum quibusdam? Magni, optio, placeat amet ullam repudiandae dolores repellat perspiciatis exercitationem deleniti vel assumenda ex?
<h3>Most Stars</h3>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora magnam cumque consequuntur, earum nobis quisquam minima perferendis amet iure nisi eius sed est sapiente odio? Est aspernatur ut ipsam aliquid.
{% endblock %}
