{% extends "base.html" %}

{% load i18n %}

{% block content %}

{% load static %}

{% if my %}
  <h2>my artworks</h2>
  <a href="{% url 'artworks' %}">show all artworks</a>
  <br><br>
{% else %}
  <h2>artworks</h2>
  {% if user.is_authenticated %}
    <a href="{% url 'artworks' %}?my">show my artworks</a>
    <br><br>
  {% endif %}
{% endif %}

{% if my %}
  {% include "partials/image_grid.html" with jobs=jobs show_status=True %}
{% else %}
  {% include "partials/image_grid.html" with jobs=jobs show_status=False %}
{% endif %}

{% include "partials/pagination.html" with paginator=jobs %}

{% endblock %}
