{% extends "base.html" %}

{% load i18n %}

{% block content %}
<h2>create a new artwork</h2>
<h3>1. choose input image</h3>

a) <a href="{% url 'input_images' %}{{additional}}">select a public image</a> <br/><br/>
or <br /><br/>
b) <a href="{% url 'my_input_images' %}{{additional}}">select one of your images</a> <br/><br/>
or <br /><br/>
c) upload a new image
<p>The image will be cropped into a square. The length and width of your images should at least be 600 pixels. You can upload your images as JPG (preferred) or PNG.</p>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Upload</button>
</form>

{% endblock %}
